.tabs__container {
    margin-top: 100px;
    padding: 30px;
    border-bottom: 1px solid gray;
}
.tabs__container-item {
    font-size: 20px;
}
.tabs__container-item:hover {
    cursor: pointer;
    color: blue;
}
.tabs__container-item:not(:first-child) {
    margin-left: 30px;
}
.tabs__content-container {
    margin-top: 10px;
    padding: 30px;
}
.tab__content {
    font-size: 20px;
}
.tab__content:nth-child(2) {
    margin-left: 55px;
}
.tab__content:nth-child(3) {
    margin-left: 205px;
}